<% errors = @event.errors %>
<%= form_for(@event, html: { class: 'form-horizontal', role: 'form' }) do |f| %>
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-6">
        <%= f.text_field :name, class: 'form-control', id: 'name', placeholder: 'Enter name' %>
      <div class="field-error"><%= show_errors(errors,:name)%></div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="description">Description:</label>
      <div class="col-sm-6">
        <%= f.text_area :description, class: 'form-control', id: 'description', placeholder: 'Enter description' %>
     <div class="field-error"><%= show_errors(errors,:description)%></div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="address">Address:</label>
      <div class="col-sm-6">
        <%= f.text_field :address, class: 'form-control', id: 'specification', placeholder: 'Enter address' %>
        <div class="field-error"><%= show_errors(errors,:address)%></div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="start_date">Start Date:</label>
      <div class="col-sm-6">
     
        <%= f.text_field :start_date, class: 'form-control datepicker', id: 'start_date', placeholder: 'Select Start Date', readonly: true %>
     
        
        <div class="field-error"><%= show_errors(errors,:start_date)%></div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="end_date">End Date:</label>
      <div class="col-sm-6">
      
        <%= f.text_field :end_date, class: 'form-control datepicker', id: 'end_date', placeholder: 'Select End Date', readonly: true %>
       
        <div class="field-error"><%= show_errors(errors, :end_date)%></div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="fees">Fees:</label>
      <div class="col-sm-6">
        <%= f.text_field :fees, class: 'form-control', id: 'fees', placeholder: 'Enter fees' %>
      <div class="field-error"><%= show_errors(errors,:fees)%></div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="contact_email">Contact Email:</label>
      <div class="col-sm-6">
        <%= f.text_field :contact_email, class: 'form-control', id: 'contact_email', placeholder: 'Enter contact email' %>
      <div class="field-error"><%= show_errors(errors,:contact_email)%></div>
      </div>
    </div>
       <div class="form-group">
      <label class="control-label col-sm-2" for="contact_no">Contact No:</label>
      <div class="col-sm-6">
        <%= f.text_field :contact_no, class: 'form-control', id: 'contact_no', placeholder: 'Enter contact no' %>
      <div class="field-error"><%= show_errors(errors,:contact_no)%></div>
      </div>
    </div>

    <div class="form-group">
    <label class="control-label col-sm-2" for="name">File:</label>
    <div class="col-sm-6">
      <%= f.file_field :avatar, class: 'form-control imageFileField' %>
    </div>
  </div>
   <%= f.hidden_field :created_by, value: current_user.id%>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6" align="center">
        <%= f.submit "Event", class: 'btn btn-primary' %>
      
      </div>
    </div>
<% end %>
<script type="text/javascript">



  $('.datepicker').datepicker({
    format: 'yyyy-mm-dd',
    startDate : '-3d',
    autoclose : true
  });

</script>