
<% errors = @post.errors %>
<%= form_for(@post, html: { class: 'form-horizontal', role: 'form' }) do |f| %>
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-6">
        <%= f.text_field :name, class: 'form-control', id: 'name', placeholder: 'Enter name' %>
      <div class="field-error"><%= show_errors(errors,:name)%></div>
      </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-2" for="name">Image:</label>
    <div class="col-sm-6">
      <%= f.file_field :avatar, class: 'form-control imageFileField' %>
    </div>
  </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6" align="center">
        <%= f.submit "Post", class: 'btn btn-primary' %>
      
      </div>
    </div>
<% end %>
