<div class="row">
  <div class="col-md-6">
    <h3><%= link_to 'Posts', posts_path%></h3>
    <%= form_for(@post, html: { class: 'form-horizontal', role: 'form' }) do |f| %>
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-6">
        <%= f.text_field :name, class: 'form-control', id: 'name', placeholder: 'Enter name', readonly: true %>
      </div>
    </div>

    <div class="form-group">
    <label class="control-label col-sm-2" for="name">Image:</label>
    <div class="col-sm-6">
      <%= image_tag @post.avatar.url(:thumb)%>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Posted By:</label>
    <div class="col-sm-6">
      <%= @post.user.name%>
    </div>
  </div>

<% end %>    
  </div>
  <div class="col-md-6">
  <h3>Comments</h3>
  
   <div class="table-responsive">
  <table class="table table-hover table-bordered data-table">
    <thead>
    <tr class="black-white">
      <th class="text-align-center">-</th> 
      <th class="text-align-center">Commented By</th>
      <th class="text-align-center">Delete</th>
      <!--<th colspan="3"></th>-->
    </tr>
    </thead>
    <tbody>
     <% @post.comments.order(created_at: :desc).each do |k|%>

     <% if k.user_id.present?%>
      <tr class="<%= cycle("cycle-1", "cycle-2") -%>" align="center">
          <td><%= k.name %></td>
           <%user_name =  k.user == current_user ? 'You' : k.user.name%>
          <td><%= user_name%></td>
          <td>
            <%= link_to 'Destroy', comment_path(id: k.id, post_id: @post.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm btn btn-danger' if k.user_id == current_user.id%>

          </td>
      </tr>    
     <%end%>
   <%end%>
    </tbody>
    </table>
  </div>
  <h3>Add Comments</h3>
<% errors = @comment.errors %>
<%= form_for(@comment, html: { class: 'form-horizontal', role: 'form' }) do |f| %>
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-6">
        <%= f.text_field :name, class: 'form-control', id: 'name', placeholder: 'Enter name' %>
      <div class="field-error"><%= show_errors(errors,:name)%></div>
      </div>
    </div>
    <%= hidden_field_tag :post_id, @post.id%>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6" align="center">
        <%= f.submit "Comment", class: 'btn btn-primary' %>
        <%= link_to 'Back', posts_path, class: 'btn btn-default btn-sm btn btn-default' %>
      </div>
    </div>
<% end %>
</div>
</div>
 <div class="form-group">
    <label class="control-label col-sm-2" for="name">Liked/Disliked:</label>
    <div class="col-sm-6 clickable " >
      <%= like_unlike_button(@post) %>
    </div>
  </div>
<script type="text/javascript">
  $('.clickable').click(function(){
    location.reload();
  });
</script>
